[submodule "sdk"]
	path = sdk
	url = https://github.com/KomodoPlatform/komodo-defi-sdk-flutter.git
	branch = chore/kw-release-v0.9.3
	update = checkout
	fetchRecurseSubmodules = on-demand
	ignore = dirty
