server
{
  listen 95.216.214.144:{{ deploy_port }} ssl;
  server_name node.dragonhound.info airdex_{{ deploy_branch }};
  include mime.types;
    types {
        application/wasm wasm;
    }
  location / {
       root /var/www/flutterapp/{{ deploy_branch }}/build/web/;
      }
  ssl_certificate /etc/letsencrypt/live/node.dragonhound.info/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/node.dragonhound.info/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
